<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>

<nav xmlns:th="http://www.thymeleaf.org" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">File Storage | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/}">Home</a>
            <a class="nav-item nav-link" th:href="@{/userInfo}">User Info</a>
            <a class="nav-item nav-link" th:href="@{/publisher}">Publisher Page</a>
            <a class="nav-item nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
