<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div align="center">


<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>
<div class="mt-2">
<h3>Login</h3>
<form name='login_form' th:action="@{/j_spring_security_check}" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input class="mb-2" type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input class="mb-2" type='password' name='password' /></td>
        </tr>

        <tr>
            <td><input class="btn btn-primary mb-2" name="submit" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</div>
<br>
    <table class="table w-25">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>viewer</td>
            <td>123</td>
        </tr>
        <tr>
            <td>publisher</td>
            <td>123</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
