<!DOCTYPE HTML>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<head>
    <title th:utext="${title}"></title>
</head>
<body>
<h3 class="container justify-content-center w-75 p-3">Welcome,
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>

<div class="container justify-content-center w-25 p-3">
    <h1>File Upload</h1>
    <hr/>

    <form class="rounded-pill" method="POST" enctype="multipart/form-data" th:action="@{/upload-file}">
        <input type="file" name="file" required> <br/><br/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <a class="nav-item nav-link mt-2" th:href="@{/publisher/listAll}">See all uploaded files</a>
    <hr/>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" target="_blank" th:text="${file}"></a>
        </li>
    </ul>
</div>
<br/><br/>
</body>

</html>
