<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Upload One File</title>-->
<!--</head>-->

<!--<body>-->
<!--<th:block th:include="/_menu"></th:block>-->


<!--<div class="container justify-content-center w-25 p-3">-->
<!--    <h3>Upload One File:</h3>-->

<!--    &lt;!&ndash; MyUploadForm &ndash;&gt;-->

<!--&lt;!&ndash;    <form th:object="${myUploadForm}" method="POST"&ndash;&gt;-->
<!--&lt;!&ndash;          action="" enctype="multipart/form-data">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          th:action="@{/upload-file}"&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        Description:&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input th:field="*{description}" style="width:300px;"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <br/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;        File to upload: <input th:field="*{fileDatas}" type="file"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Upload">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="file" name="file"> <br/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-primary" type="submit">Submit</button>&ndash;&gt;-->
<!--    </form>-->

<!--    <h1>File Upload</h1>-->
<!--    <hr/>-->
<!--    <form class="rounded-pill"  method="POST" enctype="multipart/form-data" th:action="@{/upload-file}">-->
<!--        <form th:object="${myUploadForm}" method="POST"-->
<!--              action="" enctype="multipart/form-data">-->
<!--            Description:-->
<!--            <br>-->
<!--            <input th:field="*{description}" style="width:300px;"/>-->
<!--            <br/><br/>-->
<!--        </form>-->
<!--        <input type="file" name="file"> <br/><br/>-->
<!--        <button class="btn btn-primary" type="submit">Submit</button>-->
<!--    </form>-->

<!--    <a class="nav-item nav-link" th:href="@{/publisher/listAll}">See all uploaded files</a>-->

<!--    <hr/>-->
<!--    <ul>-->
<!--        <li th:each="file : ${files}">-->
<!--            <a th:href="${file}" target="_blank" th:text="${file}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Upload One File</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>

<h3>Upload One File:</h3>

<!-- MyUploadForm -->

<form th:object="${myUploadForm}" method="POST"
      action="" enctype="multipart/form-data">
    Description:
    <br>
    <input th:field="*{description}" style="width:300px;"/>
    <br/><br/>
        File to upload: <input th:field="*{fileDatas}" type="file"/>

    <br/>
    <input type="submit" value="Upload">
</form>

</body>
</html>
